#fileBrowser {
	width: 400px;
	font-family: helvetica, sans-serif;
}

li.file {
	list-style-image: url('i/file.png');
}

li.dir {
	list-style-image: url('i/folder.png');
}

li:hover {
	background-color: #dddddd;
}

.entName {
	display: inline-block;
	width: 300px;
}

.size {
	display: inline-block;
	width: 60px;
	text-align: right;
}
