#fileBrowser {
	width: 400px;
	font-family: helvetica, sans-serif;
}

li.file {
	list-style-image: url('file.png');
}

li.dir {
	list-style-image: url('folder.png');
}

li:hover {
	background-color: #dddddd;
}

.entName {
	display: inline-block;
	width: 300px;
}

.size {
	display: inline-block;
	width: 60px;
	text-align: right;
}

#debug {
	position: absolute;
	left: 500px;
	top: 50px;
	height: 500px;
	width: 400px;
	border: 1px solid red;
	overflow: auto;
}
